<div class="row">
  <div class="col-md-7">
    <div class="d-flex flex-column p-3">
      <h1 class="d-flex justify-content-center">Créer une salle</h1>
    </div>
    <div class="d-flex flex-column container p-5  mb-5 bg-body-tertiary">
      <form [formGroup]="formValues" (ngSubmit)="onAddSalle(formValues)">
      <!-- <form [formGroup]="formValues" (ngSubmit)="alertFormValues(formValues)"> -->
        <!--Nom-->
        <mat-form-field class="w-100">
          <mat-label>Nom de la salle</mat-label>
          <input matInput formControlName="nom" placeholder="Nom" class="matinput">
        </mat-form-field>
        
        <!--Capacité-->
        <br>
        <mat-form-field class="w-100">
          <mat-label>Capacité de la salle</mat-label>
          <input matInput formControlName="capacite" placeholder="10" class="matinput">
        </mat-form-field>

        <!--Lieu-->
        <br>
        <mat-form-field class="w-100">
          <mat-label>Adresse de la salle</mat-label>
          <input matInput formControlName="lieu" placeholder="8 Rue de l'Adroit 59140 Dunkerque" class="matinput">
        </mat-form-field>

        <!--Accès PMR-->
        <br>
        <mat-form-field class="w-100">
          <mat-label>Accessibilité</mat-label>
          <mat-select formControlName="accessibilite">
            <mat-option [value]="false">Non accessible</mat-option>
            <mat-option [value]="true">Accessible pour personnes à mobilité réduite</mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="salleValide">
          <h3>La nouvelle salle est validée !</h3>
        </div>
        <app-buttons [value]="btnValide" class="button" type="submit"></app-buttons>
      </form>
    </div>
  </div>
  <div class="col-md-5">
    <div class="d-flex flex-column p-3">
      <h1 class="d-flex justify-content-center">Salles existantes</h1>
    </div>
    <div class="d-flex  flex-column container p-5  mb-5 bg-body-tertiary">
      <ul>
        <div *ngIf="salleDeleted">
          <h3>La catégorie est supprimée !</h3>
        </div>
        <li *ngFor="let salle of salleList$ | async; let i=index">{{salle.nom}}
          <div class="example-button-container">
            <form [formGroup]="formValues" (ngSubmit)="onDeleteSalle(salle.id)">
              <button mat-icon-button style="color: red; font-size: 20px;">
                <mat-icon>delete</mat-icon>
              </button>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


