<div class="row">
    <div class="col-md-7">
        <div class="d-flex flex-column p-3">
            <h1 class="d-flex justify-content-center">Créer une catégorie</h1>
        </div>
        <div class="d-flex  flex-column container p-5  mb-5 bg-body-tertiary">
            <form [formGroup]="formValues" (ngSubmit)="onAddSalle($event)">
                <!-- nom-->
                <h3>Nom : </h3>
                <mat-form-field >
                <textarea matInput formControlName="nom" placeholder="Nom" class="matinput"></textarea>
                </mat-form-field>
                
                <div *ngIf="salleValide">
                    <h3>La nouvelle salle est validée !</h3>
                </div>
                <app-buttons [value]="btnValide" class="button"></app-buttons>
            </form>
        </div>
    </div>
    <div class="col-md-5">
        <div class="d-flex flex-column p-3">
            <h1 class="d-flex justify-content-center">Salles existantes</h1>
        </div>
        <div class="d-flex  flex-column container p-5  mb-5 bg-body-tertiary">
            <ul>
                <li *ngFor="let salle of salleList | async; let i=index">{{salle.nom}}
                    <div class="example-button-container">
                        <form [formGroup]="formValues" (ngSubmit)="onDeleteSalle(salle,$event)">
                            <div *ngIf="salleValide">
                                <h3>La catégorie est supprimée !</h3>
                            </div>
                            <button mat-icon-button style="color: red; font-size: 20px;">
                            <mat-icon>delete</mat-icon>
                            </button>
                        </form>
                      </div>
                </li>
            </ul>
        </div>
    </div>
    
    
</div>


