<div *ngIf="isLoaded | async">
  
  <div class="row m-0">
    <div class="col-md-7">
      <div class="d-flex flex-column p-3">
        <h1 class="d-flex justify-content-center">Modifier les informations :</h1>
      </div>
      <div class="d-flex  flex-column container p-5  mb-5 bg-body-tertiary">
        <form [formGroup]="formValues" (ngSubmit)="onEditUser(formValues)">
          <!-- <form [formGroup]="formValues" (ngSubmit)="alertFormValues(formValues)"> -->
            <!-- nom-->
            <br>
            <mat-form-field class="w-100">
              <mat-label>Nom de l'utilisateur :</mat-label>
              <input matInput formControlName="nom" placeholder="Nom" class="matinput">
            </mat-form-field>
            
            <!-- prénom-->
            <br>
            <mat-form-field class="w-100">
              <mat-label>Prénom de l'utilisateur :</mat-label>
              <input matInput formControlName="prenom" placeholder="Prénom" class="matinput">
            </mat-form-field>
            
            <!-- numero adhérent-->
            <br>
            <mat-form-field class="w-100">
              <mat-label>Numero d'adhérent :</mat-label>
              <input matInput formControlName="numeroAdherent" placeholder="Numero adhérent" class="matinput">
            </mat-form-field>
            
            <!-- pseudo-->
            <br>
            <mat-form-field class="w-100">
              <mat-label>Pseudo :</mat-label>
              <input matInput formControlName="pseudo" placeholder="Pseudo" class="matinput">
            </mat-form-field>
            
            <!-- email-->
            <br>
            <mat-form-field class="w-100">
              <mat-label>Email :</mat-label>
              <input matInput formControlName="email" placeholder="email" class="matinput">
            </mat-form-field>
            
            <!-- num téléphone-->
            <br>
            <mat-form-field class="w-100">
              <mat-label>Numero de téléphone :</mat-label>
              <input matInput formControlName="numeroTelephone" placeholder="Numéro de téléphone" class="matinput">
            </mat-form-field>
            
            <!--Permissions-->
            <br>  
            <mat-form-field class="w-100">
              <mat-label>Permissions</mat-label>
              <mat-select formControlName="permission">
                <mat-option [value]="1">Super-Admin</mat-option>
                <mat-option [value]="2">Administrateur</mat-option>
                <mat-option [value]="3">Adhérent de l'asso</mat-option>
                <mat-option [value]="4">Membre du site</mat-option>
              </mat-select>
            </mat-form-field>
            
            <div *ngIf="userValide">
              <h3>L'utilisateur a bien été modifié !</h3>
            </div>
            <app-buttons [value]="btnValide" class="button"></app-buttons>
          </form>
        </div>
      </div>
      <div class="col-md-5">
        <div class="d-flex flex-column p-3">
          <h1 class="d-flex justify-content-center">Anciennes informations :</h1>
        </div>
        <div class="d-flex  flex-column container p-5  mb-5 bg-body-tertiary">
          <ul>
            <li class="d-flex flex-wrap align-items-center justify-content-between">
              <strong>Nom :</strong> {{user?.nom}}
            </li>
            <li class="d-flex flex-wrap align-items-center justify-content-between">
              <strong>Prénom :</strong> {{user?.prenom}}
            </li>
            <li class="d-flex flex-wrap align-items-center justify-content-between">
              <strong>Numéro Adhérent :</strong> {{user?.numeroAdherent}}
            </li>
            <li class="d-flex flex-wrap align-items-center justify-content-between">
              <strong>Pseudo :</strong> {{user?.pseudo}}
            </li>
            <li class="d-flex flex-wrap align-items-center justify-content-between">
              <strong>Email :</strong> {{user?.email}}
            </li>
            <li class="d-flex flex-wrap align-items-center justify-content-between">
              <strong>Numéro de tel :</strong> {{user?.numeroTelephone}}
            </li>
            <li class="d-flex flex-wrap align-items-center justify-content-between">
              <strong>Permission :</strong> {{user?.permission?.statut}}
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-center justify-content-evenly">
          <app-buttons [value]="'Supprimer cet utilisateur'" [type]="'delete'" class="button" (click)="onDeleteUser()"></app-buttons>
          <app-buttons [value]="btnDelete" class="button" [type]="'edit'" (click)="onUpdatePassword()"></app-buttons>
        </div>
        <div *ngIf="userDeleted">
          <p>L'utilisateur a bien été supprimé.</p>
        </div>
        <div *ngIf="afficherPwd">
          <p>Notez bien ce mot de passe, il ne s'affichera qu'une seule fois :</p>
          <code>{{password}}</code>
          <p *ngIf="passwordBienChange">Mot de passe modifié !</p>
        </div>
      </div>
    </div>
  </div>