<div class="row m-0">
  <div class="col-md-7">
    <div class="d-flex flex-column p-3">
      <h1 class="d-flex justify-content-center">Créer une catégorie</h1>
    </div>
    <div class="d-flex  flex-column container p-5  mb-5 bg-body-tertiary">
      <form [formGroup]="formValues" (ngSubmit)="onAddCategorie(formValues)">
        <!-- <form [formGroup]="formValues" (ngSubmit)="alertFormValues(formValues)"> -->
          <!--Nom-->
          <mat-form-field class="w-100">
            <mat-label>Nom de la catégorie</mat-label>
            <input matInput formControlName="nom" placeholder="Nom" class="matinput">
          </mat-form-field> 
          
          <!--Description-->
          <mat-form-field class="w-100">
            <mat-label>Description de la catégorie</mat-label>
            <input matInput formControlName="description" placeholder="Description" class="matinput">
          </mat-form-field>
          
          <div *ngIf="categorieValide">
            <h3>La nouvelle catégorie est validée !</h3>
          </div>
          <app-buttons [value]="btnValide" class="button"></app-buttons>
        </form>
      </div>
    </div>
    <div class="col-md-5">
      <div class="d-flex flex-column p-3">
        <h1 class="d-flex justify-content-center">Catégories existantes</h1>
      </div>
      <div class="d-flex  flex-column container p-5  mb-5 bg-body-tertiary">
        <ul>
          <div *ngIf="salleDeleted">
            <h3>La catégorie est supprimée !</h3>
          </div>
          <li *ngFor="let category of categoryList$ | async">{{category.nom}} : {{category.description}}
            <div class="example-button-container">
              <form [formGroup]="formValues" (ngSubmit)="onDeleteCategory(category.id)">
                <button mat-icon-button style="color: red; font-size: 20px;">
                  <mat-icon>delete</mat-icon>
                </button>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
    
  </div>
  
  