button {
    background-color: gray;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    height: 4em;
    width: 8em;
    border: 5px outset dark;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    color: dark;
}

  button:hover {
    background-color: gray;
  }

