<div *ngIf="isLoaded | async">
  <div class="row m-0">
    <div class="col-md-7">
      <div class="d-flex flex-column p-3">
        <h1 class="d-flex justify-content-center">Modifier l'article :</h1>
      </div>
      <div class="d-flex flex-column container p-5 mb-5 bg-body-tertiary">
        <form [formGroup]="formValues" (ngSubmit)="onEditArticle(formValues)">
          <!-- <form [formGroup]="formValues" (ngSubmit)="alertFormValues(formValues)"> -->

          <!-- categorie-->
          <h3></h3>
          <mat-form-field class="w-100">
            <mat-label>Choisir la catégorie</mat-label>
            <mat-select formControlName="categories">
              <mat-option
                *ngFor="let categorie of categories$ | async"
                [value]="categorie.id"
              >
                {{ categorie.nom }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- titre-->
          <br />
          <mat-form-field class="w-100">
            <mat-label>Titre de l'article :</mat-label>
            <input
              matInput
              formControlName="titre"
              placeholder="Titre"
              class="matinput"
            />
          </mat-form-field>

          <!-- corps article-->
          <br />
          <mat-form-field class="w-100">
            <mat-label>Corps de l'article :</mat-label>
            <input
              matInput
              formControlName="corps"
              placeholder="Corps"
              class="matinput"
            />
          </mat-form-field>

          <div *ngIf="articleValide">
            <h3>L'article a bien été modifié !</h3>
          </div>
          <app-buttons [value]="btnValide" class="button"></app-buttons>
        </form>
      </div>
    </div>
    <div class="col-md-5">
      <div class="d-flex flex-column p-3">
        <h1 class="d-flex justify-content-center">Anciennes informations :</h1>
      </div>
      <div class="d-flex flex-column container p-5 mb-5 bg-body-tertiary">
        <ul>
          <li
            class="d-flex flex-wrap align-items-center justify-content-between"
          >
            <strong>Catégorie :</strong> {{ article?.categories }}
          </li>
          <li
            class="d-flex flex-wrap align-items-center justify-content-between"
          >
            <strong>Titre :</strong> {{ article?.titre }}
          </li>
          <li
            class="d-flex flex-wrap align-items-center justify-content-between"
          >
            <strong>Corps :</strong> {{ article?.corps }}
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <app-buttons
          [value]="'Supprimer cet article'"
          class="button"
          (click)="onDeleteArticle()"
        ></app-buttons>
      </div>
      <div *ngIf="articleDelete">
        <p>L'article a bien été supprimée.</p>
      </div>
    </div>
  </div>
</div>
