.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.couples {
    display: inline;
    padding: 15px;
}

app-buttons {
    padding: 15px;
}