h1 {
    text-align: center;
}

.groupe {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.date, .heure, .salle, .participant, .description{
    margin: 50px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.matinput {
    width: 100%;
    resize: vertical;
}