<h1><u>Réservation de salle</u></h1>
<div class="groupe">
    <!-- selection date-->
    <mat-form-field class="date">
      <input matInput [matDatepicker]="picker" placeholder="Date de la réservation" [(ngModel)]="selectedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

   <!-- heure de début de la réservation-->
   <mat-form-field class="heure">
    <mat-label>Choisir une heure de début</mat-label>
    <mat-select [(ngModel)]="selectedTime">
      <mat-option *ngFor="let time of times" [value]="time.value">
        {{ time.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  
   <!-- choix salle-->
   <mat-form-field class="salle">
    <mat-label>Choisir une salle</mat-label>
    <mat-select [(ngModel)]="selectedRooms">
      <mat-option *ngFor="let room of rooms" [value]="room.value">
        {{ room.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <!-- choix des participants-->
  <mat-form-field class="participant">
    <mat-label>Choisir les participants</mat-label>
      <mat-select [(ngModel)]="selectedParticipants" multiple>
        <mat-option *ngFor="let participant of participants" [value]="participant.value">
          {{ participant.label }}
        </mat-option>
      </mat-select>
  </mat-form-field>
</div>
<div class="description">
  <!--description de la réservation-->
  <mat-form-field >
    <textarea matInput placeholder="Description" [(ngModel)]="descriptionReservation" class="matinput"></textarea>
  </mat-form-field>  
</div>
<app-buttons [value]="btnValide" (click)="onAddBook($event)"></app-buttons>

  
