<div class="row m-0">
  <div class="col-md-7">
    <div class="d-flex flex-column p-3">
      <h1 class="d-flex justify-content-center">Réservation d'une salle</h1>
    </div>
    <div class="d-flex flex-column container p-5 mb-5 bg-body-tertiary">
      <form [formGroup]="formValues" (ngSubmit)="onAddBook(formValues)">
        <!-- <form [formGroup]="formValues" (ngSubmit)="alertFormValues(formValues)"> -->

        <!-- selection date-->
        <mat-form-field class="w-100">
          <input
            matInput formControlName="date_evenement"
            [matDatepicker]="picker"
            placeholder="Date de l'événement"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- heure de la réservation-->
        <br />
        <mat-form-field class="w-100">
          <mat-label>Choisir une heure de début</mat-label>
          <mat-select formControlName="creneau">
            <mat-option *ngFor="let time of times" [value]="time.value">
              {{ time.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- choix salle-->
        <br />
        <mat-form-field class="w-100">
          <mat-label>Choisir une salle</mat-label>
          <mat-select formControlName="salle">
            <mat-option
              *ngFor="let salle of salles$ | async"
              [value]="salle"
            >
              {{ salle.nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- catégorie de jeux-->
        <br />
        <mat-form-field class="w-100">
          <mat-label>Choisir la catégorie</mat-label>
          <mat-select formControlName="categorie">
            <mat-option
              *ngFor="let categorie of categories$ | async"
              [value]="categorie.nom"
            >
              {{ categorie.nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- choix des participants-->
        <br />
        <mat-form-field class="w-100">
          <mat-label>Choisir les participants</mat-label>
          <mat-select formControlName="utilisateur" multiple>
            <mat-option
              *ngFor="let utilisateur of utilisateurs$ | async"
              [value]="utilisateur"
            >
              {{ utilisateur.nom }} {{utilisateur.prenom}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br />
        <!--description de la réservation-->
        <mat-form-field class="w-100">
          <textarea
            matInput
            placeholder="Description"
            formControlName="description"
            class="matinput"
          ></textarea>
        </mat-form-field>

        <div *ngIf="bookValide">
          <h3>La réservation est validée !</h3>
        </div>
        <app-buttons
          [value]="btnValide"
        ></app-buttons>
      </form>
    </div>
  </div>
  <div class="col-md-5">
    <div class="d-flex flex-column p-3">
      <h1 class="d-flex justify-content-center">Réservations existantes</h1>
    </div>
    <div class="d-flex  flex-column container p-5  mb-5 bg-body-tertiary">
      <ul>
        <div *ngIf="bookDeleted">
          <h3>La réservation est supprimée !</h3>
        </div>
        <li class="d-flex align-items-center" *ngFor="let book of bookList$ | async; let i=index">
          <span class="d-flex justify-content-start">
            {{book.salle.nom}} réservée le {{book.date_evenement | date: 'dd/MM/yy' }} à {{ book.creneau | slice: 0:2 }}:{{ book.creneau | slice: 2 }}
        </span>
          <div class="example-button-container">
            <form  [formGroup]="formValues" (ngSubmit)="onDeleteBook(book.id)">
              <button mat-icon-button style="color: red; font-size: 20px;">
                <mat-icon>delete</mat-icon>
              </button>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
