
<!--FULL-WIDTH IMAGE-->
<div class="container-fluid m-0 p-0" style="height: 100%; width: 100%;">
  <div style="
    background-image:url(/assets/wcq.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45vh;
    z-index: -1;
  ">
    <div style="
      background-color: rgba(0, 0, 0, 0.75);
      height: 45vh;
      z-index: 0;
    ">
      <div class="d-flex justify-content-center align-items-center flex-column ms-5 me-5 text-center"
      style="
        height: 45vh;
        z-index: 1;
      ">
        <h1 style="padding-bottom: 5px;">Redécouvrez la définition du jeu !</h1>
        <p>Depuis 2020, l’association Roi des Jeux permet aux Dunkerquois de tout âge et de tout horizon de jouer à leur jeux préférés : Yu-Gi-Oh, Warhammer 40.000, Donjons et Dragons, 7 Wonders...</p>
        <p>Rejoignez notre association dynamique et passionnée, et plongez dans l'univers captivant des jeux qui vous passionnent !</p>
        <a routerLink="/contact" class="btn btn-primary">Nous rejoindre !</a>
      </div>
    </div>
  </div>
</div>

<!--MAIN INFO PANEL-->
<div class="container mt-5">
  <h2 class="text-center fs-1">Découvrez l'association :</h2>
  <div class="row mt-5">
    <!--CARD 1/3-->
    <div class="col-md-4">
      <div class ="mt-5 mb-4" style="
        background-image:url(/assets/cdf2022.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 25vh;
        border-radius: 10px;
      "></div>
      <h3>L'équipe :</h3>
      <p>
        L'équipe de "Roi des Jeux" est bien plus qu'une simple équipe, c'est une véritable famille de passionnés. Composée de joueurs expérimentés et dévoués, elle est animée par un objectif commun : promouvoir et partager la joie des jeux. Que ce soit lors de nos événements, de nos sessions hebdomadaire ou de nos compétitions, chaque membre de l'équipe met son savoir-faire et sa passion au service de tous les adhérents. Rejoignez notre équipe et plongez dans un univers ludique sans limites, où le plaisir du jeu est au cœur de toutes nos actions. Ensemble, nous construisons une expérience inoubliable pour tous les amateurs de jeux.
      </p>
    </div>
    <!--CARD 2/3-->
    <div class="col-md-4">
      <div class ="mt-5 mb-4" style="
        background-image:url(/assets/duel_stream.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 25vh;
        border-radius: 10px;
      "></div>
      <h3>Les Jeux :</h3>
      <p>
        Au sein de l'association "Roi des Jeux", nous sommes constamment à l'affût des meilleurs jeux pour vous offrir une expérience ludique inoubliable. Nos pratiques comprennent une vaste gamme de jeux populaires, allant des jeux de stratégie captivants aux jeux de rôle immersifs, en passant par les jeux de cartes palpitants et bien plus encore. Peu importe votre niveau d'expérience, que vous soyez un joueur débutant ou un expert chevronné, nous avons quelque chose de passionnant à vous proposer.
      </p>

    </div>
    <!--CARD 3/3-->
    <div class="col-md-4 d-flex flex-column mt-5 mb-4">
      <h3>Nos prochains évènements :</h3>
      <app-last-event></app-last-event>
      <!--ALL EVENTS -->
      <a routerLink="/event" class="btn btn-primary">Voir tous les événements > </a>
    </div>
  </div>
</div>

<!--ARTICLES-->
<div class="container col-md-4 mt-4 mb-4">
  <h2 class="text-center fs-1">Nos derniers articles :</h2>
  <app-last-articles class="mt-5"></app-last-articles>
</div>

<!--FULL-WIDTH IMAGE-->
<div class="container-fluid m-0 p-0 mt-5">
  <div style="
    background-image:url(/assets/discution.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 39%;
    height: 25vh;
    z-index: -1;
  ">
    <div style="
      background-color: rgba(0, 0, 0, 0.75);
      height: 25vh;
      z-index: 0;
    ">
      <div class="d-flex justify-content-center align-items-center flex-column ms-5 me-5 text-center"
      style="
        height: 25vh;
        z-index: 1;
      ">
        <h1>Alors, convaincu.e ?</h1>
        <a routerLink="/contact" class="btn btn-primary">Nous rejoindre !</a>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="main.js"></script>