<div class="d-flex flex-column p-3">
    <h1 class="d-flex justify-content-center">Créer un évènement</h1>
    <p class="d-flex justify-content-center">Partagez les évènements avec les co-membres</p>
</div>
<div class="d-flex  flex-column container p-5  mb-5 bg-body-tertiary">

    <!-- selection date-->
    <h3 class="groupe">Date de l'évènement : </h3>
    <mat-form-field class="date">
        <input matInput [matDatepicker]="picker" placeholder="Date de la réservation" [(ngModel)]="selectedDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <!-- catégorie de jeux-->
    <h3>Catégorie de jeux :</h3>
    <mat-form-field class="categorie">
        <mat-label>Choisir la catégorie</mat-label>
        <mat-select [(ngModel)]="selectedGame">
          <mat-option *ngFor="let game of games" [value]="game.value">
            {{ game.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <!-- lieu-->
    <h3>Lieu : </h3>
    <mat-form-field >
        <textarea matInput placeholder="Lieu" [(ngModel)]="lieu" class="matinput"></textarea>
      </mat-form-field>  

      <!-- description-->
    <h3>Description de l'évènement : </h3>
    <mat-form-field >
        <textarea matInput placeholder="Description" [(ngModel)]="description" class="matinput"></textarea>
    </mat-form-field>

<!--ce matériel angular fait planter les ngIf du composant parent
    <mat-form-field>
        <mat-label>Choisissez un fichier</mat-label>
        <input matInput type="file" (change)="onFileSelected($event)">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearFileInput()">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>-->
    <div class="d-flex input-group input-group-lg p-5 ">
        <div class="d-flex align-items-center p-2 flex-grow-1">
            <input type="file" class="form-control" [(ngModel)]="selectedFile">
        </div>
    </div>
        
    <app-buttons [value]="btnValide" (click)="onAddEvent($event)" class="button"></app-buttons>

</div>
