/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-mdc-dialog-surface{
    overflow: hidden !important;
    background-color: #2B3035 !important;
}
/* En dessous de 750px de longueur, augmenter la taille de la modal 'se connecter' */

@media screen and (max-width : 920px) {

  .mat-mdc-dialog-surface{
    width: 90vw !important;
  }

  .modal-body{
    padding: 1vh !important;
  }
  
}

@media screen and (max-height : 925px) {
  .mat-mdc-dialog-surface{
    overflow: auto !important;
}
  
}